build: off

clone_folder: c:\gopath\src\github.com\aliyun\credentials-go

environment:
  GOPATH: c:\gopath
  matrix:
    - go: 1.12.x

platform:
  - x64

test_script:
  - go mod tidy
  - go test -race -coverprofile=coverage.txt -covermode=atomic ./credentials/...
  - IF DEFINED SUB_ALICLOUD_ACCESS_KEY (go test -v -timeout 120s ./integration/...)

after_test:
  - bash <(curl -s https://codecov.io/bash)